<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Libertad espiritual prescripta </title>
</head>
<body>
    <header>
      <!-- Localizacion Actual -->
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#!" class="breadcrumb">Bienvenido</a>
            <a href="#!" class="breadcrumb">Second</a>
            <a href="#!" class="breadcrumb">Third</a>
          </div>
          <!-- Barra Busqueda -->
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="fas fa-ankh material-icons"> Busqueda </i></label>
              <i class="material-icons"> cerrar </i>
            </div>
          </form>
        </div><hr>
      </nav>
      <!-- Menu de navegacion -->
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo" title="Logo"> Imagen Logo </a>
          <!-- Paginas Menu -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="shastras.html"> Registros Akashicos </a></li>
            <li><a href="kirtan.html"> Bhakti Yogi </a></li>
            <li><a href="guru.html"> Mantras/Mudras </a></li>
            <li><a href="rishi.html"> Brahman Siddhis </a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Imagen Pagina Inicio -->
    <div class="parallax-container">
      <div class="parallax"><img src="../assets/images/PurushaSuktam.jpg"></div>
    </div>
    <!-- Contenido del sitio Web -->
    <div class="section white">
      <section class="row container">
        <h2 class="header"> Libera tu maximo potencial </h2>
        <p class="grey-text text-darken-3 lighten-3">
          La libertad espiritual es el proceso por el cual el alma condicionada <br>
          puede despojarse del sufrimiento, la lujuria, la ira, el deseo.
          Esta plataforma cubren programas en temas diversos como son: el cuerpo,
          la mente, el espíritu, el trabajo y las relaciones.</p>
        <div class="column">
          <div class="row">
            <div class="col s12 m7">
              <div class="card medium">
                <div class="card-image">
                  <img src="../assets/images/Horus.jpg">
                  <span class="card-title">Dispocision</span>
                </div>
                <div class="card-content">
                  <p>El primer paso es tuyo. Un yogui es conciente de su energia,
                    siente una relacion con el mundo y es capaz de polarizar sus pensamientos.</p>
                </div>
                <div class="card-action">
                  <a href="#">Trabajo de Mindfullness</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m7">
              <div class="card medium">
                <div class="card-image">
                  <img src="../assets/images/Horus.jpg">
                  <span class="card-title">Expresividad</span>
                </div>
                <div class="card-content">
                  <p> El mundo es un constante fluir de impresiones, aprende a ataer de
                  forma efectiva todo aquello que quieres.</p>
                </div>
                <div class="card-action">
                  <a href="#"> Consecucion </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m7">
              <div class="card medium">
                <div class="card-image">
                  <img src="../assets/images/Horus.jpg">
                  <span class="card-title">Anclajes de PNL</span>
                </div>
                <div class="card-content">
                  <p> La programacion neuro linguistica te permite poseer super poderes,
                  administra tus estados emocionales, y adquiere habitos efectivos.</p>
                </div>
                <div class="card-action">
                  <a href="#"> Super hombre </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m7">
              <div class="card medium">
                <div class="card-image">
                  <img src="../assets/images/Horus.jpg">
                  <span class="card-title">El mundo de las ideas</span>
                </div>
                <div class="card-content">
                  <p> La naturaleza material nos impulsa a la individuacion, a traves de tres atributos
                    o gunas: sattva-equilibrio, rajas-actividad y tamas-inercia.</p>
                </div>
                <div class="card-action">
                  <a href="#"> Proposito de la mente </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m7">
              <div class="card medium">
                <div class="card-image">
                  <img src="../assets/images/Horus.jpg">
                  <span class="card-title">Ciclos Cosmicos</span>
                </div>
                <div class="card-content">
                  <p> Tu camino esta dirijido, por el karma o actividad que cumple cada persona,
                    conduciendo le a traves de la manifestacion dual por los caminos de Samsara y Nirvana.</p>
                </div>
                <div class="card-action">
                  <a href="#"> Asociacion trascendental </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Paginador de contenidos -->
          <div>
            <ul class="pagination">
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
          </div>
          <!-- Sidebar Clases Destacadas -->
          <div class="container">
            <ul class="section table-of-contents collection">
              <li class="collection-header"><h4> Clases destacadas </h4></li>
              <li class="collection-item avatar">
                <img src="../assets/images/Om-Sat-Chit-Ananda.jpeg" alt="" class="circle">
                <span class="title">Intención y co-creación</span>
                <p> Manifiesta la capacidad de tu ser <br>
                    El cambio está a una decisión de distancia
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons"> grade </i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle"> 2 </i>
                <span class="title">Abundancia en las relaciones</span>
                <p> Inspira amor con ejemplo <br>
                    Vive en libertad para disfrutar de tus seres queridos
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green"> 3 </i>
                <span class="title"> Conciencia Prohibida </span>
                <p> Meditación y la glándula pineal <br>
                    Deslimita tu potencial interior, desarrollando mejor comprensión
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red"> 4 </i>
                <span class="title">Redescubriendo el Alma espiritual</span>
                <p> Como despojarse del condicionamiento <br>
                    y moverse hacia adelante mediante las leyes naturales
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
      <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <br><br>
    <!-- Comienza el footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"> Revisa todo el Contenido </h5>
            <p class="grey-text text-lighten-4"> Siguenos para más historias de crecimiento espiritual  </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text"> Social </h5>
            <!-- Nosotros en redes sociales -->
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/VedicRishis">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/libertad_espiritual_prescripta">Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
            Vimukti-Phat © 2020 Copyright
          <a class="grey-text text-lighten-4 right" href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"> Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional </a>
        </div>
      </div>
    </footer>
</body>
</html>
<router-outlet></router-outlet>
